<div class ="container">

	<div class ="center junbotron">
	<h1>This is a quiz app</h1>
	<p>Welcome </p>
	
	<div>
	<p><%= link_to "Visit all genres", genres_path %>
	</p>
	</div>
	<div>
	<p><%= link_to "All subgenres", subgenres_path%>
	</p>
	</div>
	<div>
	<p><%= link_to "All quizzes", quizzs_path %>
	</p>
	<div>
	<p><%= link_to "All Questions", questions_path%>
	</p>
	
	</div>
	</div>
	</div>
</div>

